default: &default
  adapter: mysql2
  encoding: utf8
  database: colony
  username:
  password:
  host: 127.0.0.1
  port: 3306

development:
  <<: *default
  database: colony_dev

test:
  <<: *default
  database: colony_test

production:
  <<: *default
