<div class="row mt-5">
  <div class="col">
    <div class="card mx-auto" style="width: 30rem;">
      <%= render 'claim_form', account: @account, team: @team, user: @user %>
    </div>
  </div>
</div>
